<%# Setup a class instance (?) with the newest episode enqueued %>
<article>

	<header class="clearfix">
	<h2><%# echo link to THIS episode %>Title here</h2>
	<img src="<%#url to THIS episode %>" />

		<div class="personalities">
	<%#foreach loop of personalities %>
	
			<div class="host<%# or guest %>">Host/Guest name</div>
	
	<%# %>
	</header>
	
	<audio controls>
	<source src="<%#url to file %>" type="audio/mpeg">
	Your browser does not support the audio element. <a href="<%#url to file %>">Download the file</a> instead.
	</audio>
	
	<a href="<%#url to file %>">Download File</a>
	        
	<h3>Show Notes:</h3>
	<%#Show Notes %>        
	
</article>